@import url('https://fonts.cdnfonts.com/css/hiruko');

html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

	#overlay button[disabled] {
		color: #999;
		border: 1px solid #999;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

div.accel-debug {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 40px;
	color: white;
	padding-top: 50px;
	padding-left: 50px;
}

#debug {
	position: fixed;
	overflow: scroll;
	bottom: 0;
	left: 0;
	width: 100%;
	/* height: 100%; */
	padding: 0;
	margin: 0;
	color: white;
}

#debug code {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	background: black;
	float: left;
	clear: both;
}

#alert {
	font-family: 'Hiruko', sans-serif;
	width: 100%;
    height: 20%;
    color:  white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	opacity: 0;
	transition: 2s;
}

#alert.changed {
	opacity: 1;
	transition: 0s;
}

canvas {
	border: 10px solid black;
	transition: 0.5s;
}

canvas.indicate-left {
	border-left: 10px solid white;
	transition: 0s;
}

canvas.indicate-right {
	border-right: 10px solid white;
	transition: 0s;
}

canvas.indicate-top {
	border-top: 10px solid white;
	transition: 0s;
}

canvas.indicate-bottom {
	border-bottom: 10px solid white;
	transition: 0s;
}